aplicacionsoap/src/main/app/aplicacionsoap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8090" doc:name="HTTP Listener Configuration"/>
	<ws:consumer-config name="Web_Service_Consumer" wsdlLocation="http://localhost:8070/sw/producto.wsdl" service="ProductoPortService" port="ProductoPortSoap11" serviceAddress="http://localhost:8070/sw" doc:name="Web Service Consumer"/>
	<flow name="ListarProductos">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/listarProductos" allowedMethods="GET" doc:name="HTTP"/>
		<ws:consumer config-ref="Web_Service_Consumer" operation="ListarProductos" doc:name="Web Service Consumer"/>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
	</flow>
	<flow name="aplicacionsoapFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/buscarProducto" allowedMethods="GET" doc:name="HTTP"/>
		<set-variable variableName="dato" value="#[message.inboundProperties.'http.query.params'.codigo]" doc:name="Variable"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://comercio.com/sw
---
{
	ns0#getCodigoRequest: {
		ns0#codigo: flowVars.dato
	}
}]]></dw:set-payload>
		</dw:transform-message>
		<ws:consumer config-ref="Web_Service_Consumer" operation="getCodigo" doc:name="Web Service Consumer"/>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
	</flow>
	<flow name="GuardarProducto">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/guardarProducto" allowedMethods="POST" doc:name="HTTP"/>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://comercio.com/sw
---
{
	ns0#GuardarProductoRequest: {
		ns0#codpro: payload.codpro,
		ns0#codcat: payload.codcat,
		ns0#despro: payload.despro,
		ns0#unipro: payload.unipro,
		ns0#pcopro: payload.pcopro,
		ns0#pvepro: payload.pvepro,
		ns0#stopro: payload.stopro,
		ns0#frepro: payload.frepro
	}
}]]></dw:set-payload>
		</dw:transform-message>
		<ws:consumer config-ref="Web_Service_Consumer" operation="GuardarProducto" doc:name="Web Service Consumer"/>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
	</flow>
	<flow name="EliminarProducto">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/eliminarProducto/{codigo}" allowedMethods="DELETE" doc:name="HTTP"/>
		<set-variable variableName="dato" value="#[message.inboundProperties.'http.uri.params'.codigo]" doc:name="Variable"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://comercio.com/sw
---
{
	ns0#EliminarProductoRequest: {
		ns0#codpro: flowVars.dato
	}
}]]></dw:set-payload>
		</dw:transform-message>
		<ws:consumer config-ref="Web_Service_Consumer" operation="EliminarProducto" doc:name="Web Service Consumer"/>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
	</flow>
</mule>
